@use 'vars' as v;
@use 'mixins' as mix;


.title {
    @include mix.respond(md) {
        padding-right: calc(v.space(md));
    }

    @include mix.respond(sm) {
        padding-right: 0;
    }
}

.desc {
    padding-left: calc(v.space(md));

    @include mix.respond(md) {
        padding-left: v.space(md) + v.space(xs);
    }

    @include mix.respond(xxs) {
        padding-left: 0;
    }
}

.items {
    @include mix.respond(md) {
        padding-bottom: calc(v.space(md));
        display: flex;
        column-gap: calc(v.space(sm) + v.space(xs));

        overflow-x: auto;
        @include mix.scrollbar();

        & > * {
            width: clamp(280px, 65vw, 380px);
            flex-shrink: 0;

            &:last-child {
                margin-right: calc(v.space(md) * -1);
            }
        }
    }

    @include mix.respond(sm) {
        & > * {
            &:last-child {
                margin-right: calc(v.space(sm) * -1);
            }
        }
    }

    @include mix.respond(xs) {
        column-gap: calc(v.space(md));

        & > * {
            &:last-child {
                margin-right: 0;
            }
        }
    }
}