@font-face {
    font-family: 'Anton';
    src: url('../assets/fonts/Anton-Regular.woff2');
    src: url('../assets/fonts/Anton-Regular.woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('../assets/fonts/CabinCondensed-Medium.woff2');
    src: url('../assets/fonts/CabinCondensed-Medium.woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Cabin Condensed';
    src: url('../assets/fonts/CabinCondensed-Bold.woff2');
    src: url('../assets/fonts/CabinCondensed-Bold.woff');
    font-weight: 700;
    font-display: swap;
}