@use '../base/vars' as v;
@use '../base/mixins' as mix;

// Containers // Containers // Containers // Containers
.container-1920 {
    position: relative;
    width: 100%;
    padding: 0 20px;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 2;
}
.container-1280 {
    position: relative;
    width: 100%;
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 2;
}


// Display styles // Display styles // Display styles
.block {
    display: block;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.none {
    display: none;
}
.sticky {
    position: sticky;
}

.f {
    display: flex;
    flex-wrap: wrap;
}
.f-nw {
    flex-wrap: nowrap;
}
.fc {
    flex-direction: column;
}
.jsb {
    justify-content: space-between;
}
.jc {
    justify-content: center;
}
.je {
    justify-content: flex-end;
}
.as {
    align-items: flex-start;
}
.ae {
    align-items: flex-end;
}
.ac {
    align-items: center;
}
.acc {
    align-content: center;
}
.ass {
    align-self: flex-start;
}
.asc {
    align-self: center;
}
.ase {
    align-self: flex-end;
}
.fs-0 {
    flex-shrink: 0;
}
.fg-1 {
    flex-grow: 1;
}

.g {
    display: grid;
}

// Postions // Postions // Postions // Postions
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.fix {
    position: fixed;
}

.z--1 {
    z-index: -1;
}

.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}
.z-3 {
    z-index: 3;
}
.z-4 {
    z-index: 4;
}
.z-5 {
    z-index: 5;
}
.z-6 {
    z-index: 6;
}
.z-7 {
    z-index: 7;
}
.z-8 {
    z-index: 8;
}
.z-9 {
    z-index: 9;
}
.z-10 {
    z-index: 10;
}


// Font // Font // Font // Font // Font // Font // Font
// Text vars
// Title
.h1 {
    font-family: v.font(primary);
    @include mix.fluid-type(32, 80, 400, 1920);
    line-height: 1.375;
}
.h2 {
    font-family: v.font(primary);
    @include mix.fluid-type(28, 60, 400, 1920);
    line-height: 1.5;
}
.h3 {
    font-family: v.font(primary);
    @include mix.fluid-type(24, 45, 400, 1920);
    line-height: 1.33333;
    letter-spacing: 0.02em;
}
.h4 {
    font-family: v.font(primary);
    @include mix.fluid-type(22, 32, 400, 1920);
    line-height: 1.5;
    letter-spacing: 0.03em;
}

// Text nav
.text-nav {
    font-family: v.font(secondary);
    @include mix.fluid-type(20, 24, 400, 1920);
    line-height: 1.2;
    letter-spacing: 0.02em;
}

// Text
.text-32 {
    font-family: v.font(secondary);
    @include mix.fluid-type(22, 32, 400, 1920);
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.01em;
}
.text-24 {
    font-family: v.font(secondary);
    @include mix.fluid-type(20, 24, 400, 1920);
    font-weight: 500;
    line-height: 1.208;
    letter-spacing: 0.02em;
}
.text-16 {
    font-family: v.font(secondary);
    @include mix.fluid-type(16, 16, 400, 1920);
    font-weight: 500;
    line-height: 1.1875;
    letter-spacing: 0.05em;
}

// Text Footer
.text-footer-deco {
    font-family: v.font(primary);
    @include mix.fluid-type(40, 120, 400, 1920);
    line-height: 1;
    letter-spacing: 0.05em;
}

// Text helpers
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.tnw {
    white-space: nowrap;
}

.uc {
    text-transform: uppercase;
}


// Other // Other // Other // Other // Other // Other
.fw {
    width: 100%;
}
.fh {
    height: 100%;
}

.abs-c {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.abs-fw {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.rel-fw {
    position: relative;
    width: 100%;
    height: 100%;
}

.no-events {
    pointer-events: none;
}
.all-events {
    pointer-events: all;
}
.cursor-pointer {
    cursor: pointer;
}

.o-v {
    overflow: visible;
}
.o-h {
    overflow: hidden;
}

.scroll-style-vert {
    scrollbar-width: thin;
    // scrollbar-color: v.$color-3 transparent;
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        // background-color: v.$color-3;
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
}
.scroll-style-horiz {
    scrollbar-width: thin;
    // scrollbar-color: v.$color-3 transparent;
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        // background-color: v.$color-3;
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
}
.scroll-width {
    overflow-y: hidden;
    overflow-x: auto;
}
.scroll-height {
    overflow-y: auto;
    overflow-x: hidden;
}

.side-text {
    writing-mode: vertical-lr;
    // transform: scale(-100%);
}

.hidden-title {
    opacity: 0;
    visibility: hidden;
}

.has-svg {
    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.has-stroke {
    svg {
        stroke: currentColor
    }
}

.slidedown-1 {
    display: grid;
    grid-template-rows: 0fr;

    visibility: hidden;
    transition: grid-template-rows 800ms,
                visibility 800ms;

    &.active {
        grid-template-rows: 1fr;
        visibility: visible;
    }
}

.slideside-1 {
    display: grid;
    grid-template-columns: 0fr;

    visibility: hidden;
    transition: grid-template-columns 1200ms,
                visibility 1200ms;

    &.active {
        grid-template-columns: 1fr;
        visibility: visible;
    }
}

// Loader
.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}


//Gsap
// .title-char {
//     transform-origin: left;
// }


// Spacings // Spacings // Spacings // Spacings // Spacings
.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}
.ml-auto {
    margin-left: auto;
    margin-right: 0;
}
.mr-auto {
    margin-left: 0;
    margin-right: auto;
}

// Generate Margin/Padding Spacings
$spacings: 4, 8, 12, 16, 20, 24, 28, 32, 36, 40;

@each $s in $spacings {
    .mt-#{$s} { margin-top: #{$s}px; }
    .mb-#{$s} { margin-bottom: #{$s}px; }

    .pt-#{$s} { padding-top: #{$s}px; }
    .pb-#{$s} { padding-bottom: #{$s}px; }
}