@use "sass:map";
@use 'sass:string';

// Fonts
$fonts: (
    primary: "'Anton', sans-serif",
    secondary: "'Cabin Condensed', sans-serif",
);

@function font($font) {
    @return string.unquote(map.get($fonts, $font));
}


// Colors
$colors: (
    light-0: #EEE,
    light-100: #E5E5E5,
    light-200: #D1D1D1,
    light-300: #B2B2B2,
    light-600: #525252,
    light-700: #3D3D3D,
    light-800: #292929,
    light-900: #141414,
    
    primary-400: #5086FE,
    primary-500: #4279F0,
    primary-600: #3069E8,
    primary-700: #1750CF,

    secondary-400: #FEC850,
    secondary-500: #F0B942,
    secondary-600: #E8AE30,
    secondary-700: #CF9417,
);

@function color($color) {
    @return map.get($colors, $color);
}

// Generate color utility classes
@each $name, $value in $colors {
    .#{$name} {
        color: #{$value};
    }

    .bg-#{$name} {
        background-color: #{$value};
    }
}