// Plugins
// @use '../../node_modules/swiper/swiper.css';
// @use '../../node_modules/swiper/modules/navigation.css';

// Fonts
@use './base/fonts.scss';


// Defaults
@use './base/reset-css.scss';
@use './base/defaults.scss';


// Utils
@use './base/utils.scss';
@use './base/layout.scss';


// Components
@use './components/loader-1.scss';
@use './components/header.scss';
@use './components/footer.scss';