// Plugins
// @use '../../node_modules/swiper/swiper.css';
// @use '../../node_modules/swiper/modules/navigation.css';

// Fonts
@use './base/fonts.scss';


// Defaults
@use './base/reset-css.scss';
@use './base/defaults.scss';


// Utils
@use './base/utils.scss';
@use './base/layout.scss';


// Auto-imported component SCSS
@use './components.generated';