// Plugins
// @use '../../node_modules/swiper/swiper.css';
// @use '../../node_modules/swiper/modules/navigation.css';

// Fonts
// @er-ignore-start
@use './base/fonts.scss';


// Defaults
@use './base/reset-css.scss';
@use './base/defaults.scss';
// @er-ignore-end


// Utils
@use './base/utils.scss';

// @er-attr-start
//  value="layout"
@use './base/layout.scss';
// @er-attr-end

// Auto-imported component SCSS
// @er-scope scoped
@use './components.generated';