@use 'vars' as v;
@use 'mixins' as mix;


.title-wrap {
    margin-right: calc((var(--grid-col-gap) + v.space(xs)) * -1);

    @include mix.respond(xs) {
        margin-right: 0;
    }
}

.left {
    & > * {
        margin-right: calc((var(--grid-col-gap) + v.space(xs)) * -1);

        @include mix.respond(xs) {
            margin-right: 0;
        }
    }
}

.last:not(.first) {
    @include mix.respond(xs) {
        margin-top: v.space(lg);
    }
}