@use 'sass:color';
@use 'vars' as v;
@use 'mixins' as mix;


.subpage-hero {
    perspective: 1000px;
}


// Background
.bg {
    --parallax-y: 0px;
    --parallax-scale: 1;
    --parallax-rotate: 0deg;
    --opacity: 1;

    position: absolute;
    left: 50%;
    transform: translate(-50%, var(--parallax-y)) scale(var(--parallax-scale)) rotateX(var(--parallax-rotate));
    opacity: var(--opacity);
}

.bg-image-wrap {
    overflow: visible;
    height: calc(100vh - var(--header-height));

    --top-left-col-offset: 2;
    --top-right-col-offset: 1;
    --bottom-right-col-offset: 1;
    --bottom-left-col-offset: 0;

    --top-left: calc(var(--grid-cell-width) * var(--top-left-col-offset) + var(--grid-col-gap) * var(--top-left-col-offset));
    --top-right: calc(100% + var(--grid-cell-width) * var(--top-right-col-offset) + var(--grid-col-gap) * var(--top-right-col-offset));
    --bottom-right: calc(100% - var(--grid-cell-width) * var(--bottom-right-col-offset) - var(--grid-col-gap) * var(--bottom-right-col-offset));
    --bottom-left: calc(var(--grid-cell-width) * var(--bottom-left-col-offset) + var(--grid-col-gap) * var(--bottom-left-col-offset));

    clip-path: polygon(
        /* Top Left */
        var(--top-left) 0%,

        /* Top Right */
        var(--top-right) 0%,

        /* Bottom Right */
        var(--bottom-right) 100%,

        /* Bottom Left */
        var(--bottom-left) 100%
    );

    @include mix.respond(md) {
        --top-right-col-offset: 2;
        --bottom-right-col-offset: 0;
    }
    @include mix.respond(sm) {
        --top-left-col-offset: 3;
        --top-right-col-offset: 1;
        --bottom-right-col-offset: -1;
    }

    @include mix.respond(xxs) {
        --top-left-col-offset: 5;
    }
}

.bg-image {
    margin-right: calc((var(--grid-padding) + var(--grid-col-gap)) * -1);
}

.overlay {
    opacity: 0.2;
}

.overlay-darken {
    --darken-color: #{color.change(v.color(light-900), $alpha: 40%)};
    --darken-start: 20%;
    --darken-end: 100%;

    background: linear-gradient(90deg + 15deg,
        var(--darken-color) var(--darken-start),
        color.change(v.color(light-0), $alpha: 0%) var(--darken-end),
    );

    @include mix.respond(sm) {
        --darken-color: #{color.change(v.color(light-900), $alpha: 60%)};
        --darken-start: 40%;
    }

    @include mix.respond(xxs) {
        --darken-color: #{color.change(v.color(light-900), $alpha: 70%)};
        --darken-start: 30%;
        --darken-end: 140%;
    }
}


// Content
.content-wrap {
    min-height: calc(100vh - var(--header-height));
}

.title {
    @include mix.respond(xs) {
        text-align: left;
    }
}

.first-title-word {
    position: relative;
    display: inline-block;

    &:not(.single-word) {
        &:after {
            content: '\00a0';
        }
    }

}

.date {
    top: calc(0px - v.space(xs) * 0.5);
    left: 0;
    transform: translateY(-100%);

    @include mix.respond(xs) {
        left: unset;
        right: 0;
        padding-right: v.space(sm);
    }
}

.subtitle {
    padding-left: calc(
        var(--grid-cell-width) * 2 +
        var(--grid-col-gap) * 2
    );

    @include mix.respond(md) {
        padding-left: calc(
            var(--grid-cell-width) * 1 +
            var(--grid-col-gap) * 1
        );
    }

    @include mix.respond(sm) {
        padding-left: 0;
    }
    @include mix.respond(xs) {
        text-align: left;
    }
}


// Tag
.tags {
    @include mix.respond(xs) {
        padding-left: v.space(sm);
    }
}

.tag {
    display: table;
    line-height: 1;
    padding: v.space(xs) v.space(sm);

    --top-left: #{v.space(xs)};
    --bottom-right: calc(100% - #{v.space(xs)});

    clip-path: polygon(
        var(--top-left) 0%,
        100% 0%,
        var(--bottom-right) 100%,
        0% 100%
    )
}