@use 'vars' as v;

.subpage-media {
    position: relative;

    clip-path: polygon(
        /* Top Left */
        0% 0%,

        /* Top Right */
        calc(100% - var(--grid-cell-width) - var(--grid-col-gap)) 0%,

        /* Bottom Right */
        100% 100%,

        /* Bottom Left */
        calc(var(--grid-cell-width) + var(--grid-col-gap)) 100%,
    );


    &.inverted {
        clip-path: polygon(
            /* Top Left */
            calc(var(--grid-cell-width) + var(--grid-col-gap)) 0%,

            /* Top Right */
            100% 0%,

            /* Bottom Right */
            calc(100% - var(--grid-cell-width) - var(--grid-col-gap)) 100%,

            /* Bottom Left */
            0% 100%,
        );
    }
}

.overlay {
    opacity: 0.2;
}