@use 'vars' as v;

.component {
    
}

.text-two-media-title {
    @media only screen and (max-width: 1880px) {
        margin-right: -8vw;
    }
}

.cell {
    &:first-child {
        margin-top: (v.space('md') + v.space('xs'));
    }
    &:last-child {
        margin-bottom: (v.space('md') + v.space('xs'));
    }
}