@use 'vars' as v;
@use 'timings' as t;
@use 'mixins' as mix;


.gallery-bento-desc {
    padding-left: 52px;

    @include mix.respond(md) {
        padding-left: v.space(md);
    }

    @include mix.respond(sm) {
        padding-left: v.space(md) + v.space(xs);
    }

    @include mix.respond(xxs) {
        padding-left: 0;
    }
}

.column {
    &:first-child {
        transform: translateY(calc(-1 * v.space('md')));
    }
    &:last-child {
        transform: translateY(calc(1 * v.space('md')));
    }

    @include mix.respond(sm) {
        &:first-child,
        &:last-child {
            transform: unset;
        }
    }
}

.items {
    @include mix.respond(sm) {
        padding-bottom: calc(v.space(md));
        display: flex;
        column-gap: calc(v.space(sm) + v.space(xs));

        overflow-x: auto;
        @include mix.scrollbar();

        & > * {
            width: 380px;
            flex-shrink: 0;

            &:last-child {
                margin-right: calc(v.space(md) * -1);
            }
        }
    }

    @include mix.respond(sm) {
        & > * {
            &:last-child {
                margin-right: calc(v.space(sm) * -1);
            }
        }
    }

    @include mix.respond(xs) {
        column-gap: calc(v.space(md));

        & > * {
            &:last-child {
                margin-right: 0;
            }
        }
    }
}