@use 'vars' as v;
@use 'timings' as t;


.recipe-list-item {
    display: flex;
    position: relative;

    padding: calc((v.space('md') + v.space('xs')));

    min-height: min(690px, 44vw);

    @media only screen and (max-width: v.width(md)) {
        min-height: 540px;
    }

    @include t.tx((color));

    &:hover {
        color: v.color(light-900);

        .title {
            color: v.color(light-900);
        }

        .bg {
            transform: translateY(calc(v.space('sm'))) scale(0.95);
            opacity: 1;

            img {
                filter: saturate(1);
            }
        }

        .bg-overlay {
            transform: scaleY(0);
            visibility: hidden;
        }

        .backdrop {
            transform: translateX(calc(((v.space('md') + v.space('xs')) * -1)));
            width: calc(100% + calc((v.space('md') + v.space('xs')) * 2));
        }

        .media-border {
            color: v.color(primary-400);
        }
        .backdrop-color {
            background-color: v.color(primary-400);
        }

        .content {
            transform: translateY(calc(v.space('md') + v.space('xs')));
        }
    }
}

.media-border {
    @include t.tx((color));
}

.bg {
    opacity: 0.6;

    @include t.tx((transform, opacity));

    img {
        filter: saturate(0);

        @include t.tx((filter));
    }
}

.bg-overlay {
    transform-origin: top;

    opacity: 0.3;

    @include t.tx((transform, visibility), 1.2);
}

.content {
    padding: v.space('md') v.space('sm');
    min-height: 40%;

    @media only screen and (max-width: 1880px) {
        min-height: 50%;
    }

    @include t.tx((transform));
}

.backdrop {
    @include t.tx((transform, width));
}

.backdrop-color {
    @include t.tx((background-color));
}

.title {
    padding-right: v.space('sm');

    @include t.tx((color));
}

.excerpt {
    padding-top: v.space('sm');
}