@use 'vars' as v;
@use 'timings' as t;


@keyframes reveal-hide {
    from {
        clip-path: polygon(-20% 0%, 140% 0%, 120% 100%, -40% 100%);
        visibility: visible;
    }
    to {
        clip-path: polygon(140% 0%, 140% 0%, 120% 100%, 120% 100%);
        visibility: hidden;
    }
}
@keyframes reveal-show {
    from {
        clip-path: polygon(-20% 0%, -20% 0%, -40% 100%, -40% 100%);
        visibility: hidden;
    }
    to {
        clip-path: polygon(-20% 0%, 140% 0%, 120% 100%, -40% 100%);
        visibility: visible;
    }
}

@keyframes reveal-img-hide {
    from {
        transform: scale(1) rotateY(0deg);
    }
    to {
        transform: scale(0.8) rotateY(360deg);
    }
}
@keyframes reveal-img-show {
    from {
        transform: scale(0.8) rotateY(0deg);
    }
    to {
        transform: scale(1) rotateY(360deg);
    }
}

@keyframes not-target {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes not-target-img {
    from {
        transform: scale(1) rotateY(-360deg);
    }
    to {
        transform: scale(0.75) rotateY(0deg);
    }
}
@keyframes not-target-img-wrap {
    from {
        clip-path: polygon(-20% 0%, 140% 0%, 120% 100%, -40% 100%);
        visibility: visible;
    }
    to {
        clip-path: polygon(140% 0%, 140% 0%, 120% 100%, 120% 100%);
        visibility: hidden;
    }
}
@keyframes not-target-img-wrap-reverse {
    from {
        clip-path: polygon(140% 0%, 140% 0%, 120% 100%, 120% 100%);
        visibility: hidden;
    }
    to {
        clip-path: polygon(-20% 0%, 140% 0%, 120% 100%, -40% 100%);
        visibility: visible;
    }
}

#reveal {
    pointer-events: none;
    perspective: 360px;

    &:target {
        // animation: reveal-hide t.mul(1.4) t.$power-2-out forwards;

        .bg {
            animation: reveal-hide t.mul(1.4) t.$power-2-out forwards;
        }

        .img-wrap {
            animation: not-target-img-wrap t.mul(1.05) t.$power-2-out forwards t.mul(1.05);
        }

        img {
            animation: reveal-img-hide t.mul(1.35) t.$power-2-io forwards;
        }
    }

    // This gets run even if the element is in fact targeted,
    // So we need to delay it a bit
    &:not(:target) {
        .bg {
            animation: reveal-hide t.mul(0.7) t.$power-1-in forwards t.mul(1);
        }

        .img-wrap {
            animation: not-target-img-wrap t.mul(1.05) t.$power-2-out forwards t.mul(1.6);
        }

        img {
            animation: not-target-img t.mul(1.8) t.$power-2-io forwards;
        }
    }

    &.show-reveal {
        // animation: reveal-show t.mul(1.4) t.$power-2-out forwards;

        .bg {
            animation: reveal-show t.mul(1.4) t.$power-2-out forwards;
        }

        .img-wrap {
            animation: not-target-img-wrap-reverse t.mul(1) t.$power-2-io forwards;
        }

        img {
            animation: reveal-img-show t.mul(1.4) t.$power-2-out forwards;
        }
    }
}