@use 'vars' as v;
@use 'mixins' as mix;


.layout {
    min-height: 96px;
    background-color: v.color(light-900);

    @include mix.respond(md) {
        min-height: 64px;
    }
}

.logo-link {
    display: block;
    width: 80px;
    height: 80px;

    @include mix.respond(md) {
        width: 54px;
        height: 54px;
    }
}