@use 'vars' as v;
@use 'mixins' as mix;


.layout {
    min-height: var(--header-height);
    background-color: v.color(light-900);
}

.logo-link {
    display: block;
    width: 80px;
    height: 80px;

    @include mix.respond(md) {
        width: 54px;
        height: 54px;
    }
}