@use 'vars' as v;
@use 'mixins' as mix;
@use 'typography' as typo;
@use 'timings' as t;


.input-wrap-outer {
    width: calc(50% - var(--flex-gap) * 0.5);

    &.fw {
        width: 100%;
    }

    @include t.tx((opacity));

    &:has(input:disabled) {
        pointer-events: none;
        opacity: 0.7;
    }
}

label {
    display: block;
}

.input-wrap {
    --size: 24px;
    background-color: v.color(light-700);

    @include mix.respond(sm) {
        --size: 16px;
    }
}

input {
    padding: v.space(2xs) calc(v.space(md) + v.space(sm)) v.space(2xs) v.space(sm);

    background-color: transparent;
    color: v.color(light-0);

    mask-image: linear-gradient(
        to right,
        black calc(100% - calc(v.space(md) + v.space(md))),
        transparent calc(100% - calc(v.space(md) + v.space(sm)))
    );

    @include typo.type(display, md);

    &[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: none;
        }

        appearance: none;
        -moz-appearance: textfield;
    }
}

.suffix {
    display: block;

    bottom: v.space(sm);
    right: v.space(sm);
}