@use 'vars' as v;

.title {
    @media only screen and (max-width: 1880px) {
        margin-right: -8vw;
    }
    @media only screen and (max-width: v.width(xs)) {
        margin-right: 0;

        $cell-size: calc(100% / 12);
        $cell-gap: min(12px, 2vw);
        padding-left: calc($cell-size * 2 + $cell-gap);

        text-align: right;
    }
}

.visual {
    aspect-ratio: 408 / 617;

    overflow: visible;

    :focus-visible {
        outline: v.space(2xs) solid v.color(primary-700);
    }
}

.link {
    display: block;
    top: 48.4%;
    left: 28.4%;

    width: 7%;
    aspect-ratio: 1/1;
    height: auto;
}

.left {
    @media only screen and (max-width: v.width(xs)) {
        order: 2;
    }
}
.right {
    @media only screen and (max-width: v.width(xs)) {
        order: 1;
    }
}