@use 'vars' as v;
@use 'mixins' as mix;


.user-content {
    margin-left: v.space(lg);

    @include mix.respond(lg) {
        margin-left: v.space(sm);
    }

    @include mix.respond(sm) {
        margin-left: 0;
    }
}

.reading-line-wrap {
    min-height: 256px;

    @include mix.respond(xs) {
        display: none;
    }
}

.hidden-spacer {
    @include mix.respond(xs) {
        display: none;
    }
}

.reading-line-mobile {
    @include mix.respond(xs) {
        display: block;
    }
}