@use 'vars' as v;
@use 'mixins' as mix;
@use 'timings' as t;


$vertical-height: min(840px, 90vh);
$vertical-height-xs: min(440px, 80vh);


.column-media {
    --hover-color: #{v.color(primary-400)};

    padding: (v.space('md') + v.space('xs'));

    @include t.tx((color));

    &:hover,
    &:focus {
        color: var(--hover-color);

        .column-media-container {
            transform: scale(0.95);
            opacity: 1;

            img {
                filter: saturate(1);
            }
        }

        .column-media-overlay {
            transform: scaleY(0);
            visibility: hidden;
        }
    }


    // Types
    &.type-vertical {
        height: #{$vertical-height};

        @include mix.respond(xxs) {
            height: #{$vertical-height-xs};
        }
    }

    // Hover Types
    &.hover-secondary-400 {
        --hover-color: #{v.color(secondary-400)};
    }


    // Responsive
    @include mix.respond(xs) {
        padding: (v.space('sm') + v.space('xs'));
    }
}

.column-media-container {
    --border-size: 32px;

    height: 100%;
    opacity: 0.6;

    clip-path: polygon(
        0% 0%,
        calc(100% - var(--border-size)) 0%,
        100% var(--border-size),
        100% 100%,
        0% 100%
    );

    @include t.tx((transform, opacity));

    img {
        filter: saturate(0);

        @include t.tx((filter));
    }
}

.column-media-overlay {
    transform-origin: top;

    opacity: 0.3;

    @include t.tx((transform, visibility), 1.2);
}