@use 'vars' as v;
@use 'mixins' as mix;


.intro {
    padding-right: v.space(lg);

    @include mix.respond(sm) {
        padding-right: v.space(md);
    }
}

.left {
    & > * {
        margin-right: calc((var(--grid-col-gap) + v.space(xs)) * -1);
    }
}