@use 'vars' as v;
@use 'timings' as t;
@use 'mixins' as mix;


.layout {
    position: relative;

    padding-top: v.space(xl);
    padding-bottom: v.space(lg);
    background-color: v.color(light-900);

    @include mix.respond(md) {
        padding-top: v.space(lg);
        padding-bottom: v.space(md);
    }
    @include mix.respond(sm) {
        padding-top: v.space(md);
    }
}

.logo-link {
    display: block;
    width: 80px;
    height: 80px;

    perspective: 360px;

    &:hover {
        & > * {
            transform: scale(1.1) rotateY(360deg);
        }
    }

    & > * {
        display: block;

        @include t.tx((transform), 1.85);
    }
}


// <em> hovers
.spark {
    position: relative;

    // TODO - Do JS
    &:not(.type-js):hover span {
        animation: spark-animation 0.25s linear forwards;
    }

    span {
        --spark-left-start: -50%;
        --spark-top-start: -50%;

        /* The end gets added onto the start, so this is an offset */
        --spark-left-end: -200%;
        --spark-top-end: -250%;

        display: block;
        position: absolute;
        width: v.space(sm);

        top: 50%;
        left: 50%;

        opacity: 0;
        transform: translate(
            var(--spark-left-start),
            var(--spark-top-start)
        );

        aspect-ratio: v.aspect('1:1');

        background-color: v.color(primary-400);

        pointer-events: none;
        z-index: 2;

        &:nth-child(2) {
            --spark-left-start: -50%;
            --spark-top-start: -50%;

            --spark-left-end: -150%;
            --spark-top-end: 150%;

            animation-duration: 0.2s;
            animation-delay: 0.08s;
        }

        &:nth-child(3) {
            --spark-left-start: -50%;
            --spark-top-start: -50%;

            --spark-left-end: 300%;
            --spark-top-end: -50%;

            animation-duration: 0.3s;
        }

        &:nth-child(4) {
            --spark-left-start: -50%;
            --spark-top-start: -50%;

            --spark-left-end: 150%;
            --spark-top-end: -250%;

            animation-delay: 0.05s;
        }
    }
}

@keyframes spark-animation {
    0% {
        opacity: 0;
        transform: translate(var(--spark-left-start), var(--spark-top-start));
    }
    25% {
        opacity: 1;
        transform: translate(
            calc(var(--spark-left-start) + var(--spark-left-end) * 0.25),
            calc(var(--spark-top-start) + var(--spark-top-end) * 0.25)
        );
    }
    40% {
        opacity: 0.5;
        transform: translate(
            calc(var(--spark-left-start) + var(--spark-left-end) * 0.50),
            calc(var(--spark-top-start) + var(--spark-top-end) * 0.50)
        );
    }
    70% {
        opacity: 0.75;
        transform: translate(
            calc(var(--spark-left-start) + var(--spark-left-end) * 0.75),
            calc(var(--spark-top-start) + var(--spark-top-end) * 0.75)
        );
    }
    100% {
        opacity: 0;
        transform: translate(
            calc(var(--spark-left-start) + var(--spark-left-end) * 1),
            calc(var(--spark-top-start) + var(--spark-top-end) * 1)
        );
    }
}

.blaze {
    position: relative;
    color: v.color(secondary-400);

    // TODO - Do JS
    &:not(.type-js):hover span {
        animation: blaze-animation 1s linear forwards;
    }

    span {
        --blaze-left-start: -50%;
        --blaze-top-start: 50%;

        /* The end gets added onto the start, so this is an offset */
        --blaze-left-end: -50%;
        --blaze-top-end: -500%;

        display: block;
        position: absolute;
        width: v.space(sm);

        top: 50%;
        left: 50%;

        opacity: 0;
        transform: translate(
            var(--blaze-left-start),
            var(--blaze-top-start)
        );

        aspect-ratio: v.aspect('1:1');

        background-color: v.color(secondary-400);

        pointer-events: none;
        z-index: 2;

        &:nth-child(2) {
            --blaze-left-start: -50%;
            --blaze-top-start: 50%;

            --blaze-left-end: 150%;
            --blaze-top-end: -400%;

            animation-duration: 0.2s;
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            --blaze-left-start: -50%;
            --blaze-top-start: 50%;

            --blaze-left-end: 50%;
            --blaze-top-end: -350%;

            animation-duration: 0.3s;
        }

        &:nth-child(4) {
            --blaze-left-start: -50%;
            --blaze-top-start: 50%;

            --blaze-left-end: -200%;
            --blaze-top-end: -600%;

            animation-delay: 0.1s;
        }
    }
}

@keyframes blaze-animation {
    0% {
        opacity: 0;
        transform: translate(var(--blaze-left-start), var(--blaze-top-start));
    }
    20% {
        opacity: 1;
        transform: translate(
            calc(var(--blaze-left-start) + var(--blaze-left-end) * 0.25),
            calc(var(--blaze-top-start) + var(--blaze-top-end) * 0.25)
        );
    }
    45% {
        opacity: 0.8;
        transform: translate(
            calc(var(--blaze-left-start) + var(--blaze-left-end) * 0.50),
            calc(var(--blaze-top-start) + var(--blaze-top-end) * 0.50)
        );
    }
    75% {
        opacity: 0.9;
        transform: translate(
            calc(var(--blaze-left-start) + var(--blaze-left-end) * 0.75),
            calc(var(--blaze-top-start) + var(--blaze-top-end) * 0.75)
        );
    }
    100% {
        opacity: 0;
        transform: translate(
            calc(var(--blaze-left-start) + var(--blaze-left-end) * 1),
            calc(var(--blaze-top-start) + var(--blaze-top-end) * 1)
        );
    }
}


.copyright-wrap {
    @include mix.respond(xxs) {
        text-align: right;
    }
}


// Background
.background-grid {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    mask-image: radial-gradient(circle at 50% 50%, #000 0%, #0000 60%);

    @include t.tx((mask-position), 2);

    &:has(.background-title-1:hover, .background-title-1:focus) {
        mask-position: calc(min(400px, 33vw) * -1);
    }
    &:has(.background-title-3:hover, .background-title-3:focus) {
        mask-position: calc(min(400px, 33vw) * 1);
    }
    &:has(.background-title-2:hover, .background-title-2:focus) {
        mask-position: 0px;
    }

    &:has(.background-title-1:hover, .background-title-1:focus) .pattern-1,
    &:has(.background-title-2:hover, .background-title-2:focus) .pattern-2,
    &:has(.background-title-3:hover, .background-title-3:focus) .pattern-3 {
        opacity: 1;
        visibility: visible;

        .hero-bg-pattern-mask {
            transition-delay: t.mul(0.25);
            transition-duration: t.mul(3);

            opacity: 1;
            visibility: visible;
        }
    }

    &:has(
        .background-title-1:hover, .background-title-1:focus,
        .background-title-2:hover, .background-title-2:focus,
        .background-title-3:hover, .background-title-3:focus
    ) {
        .background-deco-title-inner {
            opacity: 1;
            visibility: visible;
        }
    }
}

.background-deco-title {
    width: min(500px, 30vw);
    top: 0px;
    bottom: 0px;
    left: 50%;

    &:nth-child(1) {
        transform: translateX(-125%);
    }
    &:nth-child(2) {
        transform: translateX(-50%);
    }
    &:nth-child(3) {
        transform: translateX(28%);
    }

    &:hover, &:focus {
        .background-deco-title-inner-hover {
            visibility: visible;
            clip-path: polygon(
                0% 0%,
                100% 0%,
                100% 100%,
                0% 100%
            );
        }
    }
}

.background-deco-title-inner {
    transform: translate(-50%, -50%) rotate(-45deg);

    @include t.tx((opacity, visibility));

    opacity: 0;
    visibility: hidden;
}

.background-deco-title-inner-hover {
    visibility: hidden;
    clip-path: polygon(
        50% 0%,
        50% 0%,

        50% 100%,
        50% 100%
    );

    @include t.tx((clip-path, visibility));
}

.hero-bg-patterns {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(35deg);

    @include t.tx((opacity, visibility), 1.33, t.$power-2-out);

    opacity: 0;
    visibility: hidden;

    --pattern-1-center: 35% 55%;
    --pattern-2-center: 50% 50%;
    --pattern-3-center: 70% 40%;

    @include mix.respond(xl) {
        --pattern-1-center: 45% 60%;
        --pattern-2-center: 50% 50%;
        --pattern-3-center: 55% 35%;
    }

    @include mix.respond(xxs) {
        width: auto;
        height: 100%;
    }

    &.pattern-1 {
        .hero-bg-pattern-mask {
            mask-image: radial-gradient(circle at var(--pattern-1-center), #000 0%, #0000 28%);
        }

        .hero-bg-pattern-overlay {
            mask-image: radial-gradient(circle at var(--pattern-1-center), #000 0%, #0000 25%);
        }
    }
    &.pattern-2 {
        .hero-bg-pattern-mask {
            mask-image: radial-gradient(circle at var(--pattern-2-center), #000 0%, #0000 28%);
        }

        .hero-bg-pattern-overlay {
            mask-image: radial-gradient(circle at var(--pattern-2-center), #000 0%, #0000 25%);
        }
    }
    &.pattern-3 {
        .hero-bg-pattern-mask {
            mask-image: radial-gradient(circle at var(--pattern-3-center), #000 0%, #0000 28%);
        }

        .hero-bg-pattern-overlay {
            mask-image: radial-gradient(circle at var(--pattern-3-center), #000 0%, #0000 25%);
        }
    }
}

@keyframes pattern-move-footer {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 25% -125%;
    }
}

.hero-bg-pattern {
    background-image: var(--bg-image);
    background-size: 20%;

    animation: pattern-move-footer 20s linear infinite;

    @include mix.respond(xs) {
        background-size: 33.333333%;
    }
}

.hero-bg-pattern-mask {
    @include t.tx((opacity, visibility), 1.33, t.$power-1-io);

    opacity: 0;
    visibility: hidden;
}


.background-title-1 {
    @include mix.respond(sm) {
        .background-deco-title-inner {
            transform: translate(-80%, 50%) rotate(-45deg);
        }
    }
}
.background-title-3 {
    @include mix.respond(sm) {
        .background-deco-title-inner {
            transform: translate(-20%, -150%) rotate(-45deg);
        }
    }
}