@use '../../sass/base/vars' as v;
@use '../../sass/base/layout.scss';

:scope {
    min-height: 100px;
    filter: drop-shadow(0px 12px 12px #00000054);
    // background-color: v.color(primary-500);
}

.header-wrap {
    padding: 10px 0;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
}

.header-logo-wrap {
    width: 80px;
    height: 80px;
}

.header-logo-backdrop {
    width: 200%;
    height: 200%;

    background: radial-gradient(circle, 
        v.color(primary-700) 0%,
        v.color(primary-600) 75%
    );
    border-radius: 50%;
}

.header-nav-ul {
    column-gap: 24px;
    row-gap: 8px;
    margin-right: -8px;

    a {
        padding: 8px;
    }
}

@include layout.respond(md) {
    .header-nav-ul {
        column-gap: 8px;
    }
}
